{% extends 'accounts/base.html' %}

{% load widget_tweaks %}

{% block page_content %}
    <h2>Восстановление пароля</h2>
    <div class="m-t">
        {% if done %}
            <div>
                Инструкции по восстановлению пароля были успешно отправлены.
            </div>
        {% elif complete %}
            <h3 class="alert alert-success">
                Ваш пароль был успешно восстановлен!
            </h3>
            <a href="/accounts/login" class="btn btn-primary btn-block">Войти</a>
        {% elif confirm %}
            {% include 'accounts/components/set_password_form.html' %}
        {% else %}
            <form class="m-t" role="form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email|attr:"placeholder:Введите email"|add_class:"form-control" }}
                    {% if form.errors %}
                        <div class="alert alert-danger m-t">
                            {{ form.errors.as_text|slice:"13:" }}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">
                    Сбросить пароль
                </button>

                <p class="m-b-xs m-t-lg text-muted text-center">
                    <small>Нет аккаунта?</small>
                </p>
                <a class="btn btn-sm btn-white btn-block" href="/accounts/registration">
                    Создать аккаунт
                </a>
            </form>
        {% endif %}
    </div>
{% endblock %}