{% extends 'accounts/base.html' %}

{% load widget_tweaks %}

{% block page_content %}
<h2>Регистрация</h2>
<form method="post" action="">
{% csrf_token %}

{% for field in form %}
    <div class="form-group">
        <input class="form-control" type="{% if field.name == 'password1' or field.name == 'password2'%}password{% else %}  {{ field|field_type }} {%endif%}" placeholder="{{ field.label }}" name="{{ field.name }}" {% if field.value %}value="{{ field.value }}"{% endif %}>
        {% if field.errors %}
            <div class="alert alert-danger m-t">
                {{ field.errors.as_text }}
            </div>
        {% endif %}
    </div>
{% endfor %}
<button type="submit" class="btn btn-primary block full-width m-b">
    Зарегистрироваться
</button>
</form>
{% endblock %}

