{% load widget_tweaks %}

<form class="m-t" role="form" method="post">
    {% csrf_token %}
    <div class="form-group">
        {{ form.new_password1|attr:"placeholder:Новый пароль"|add_class:"form-control" }}
        {{ form.new_password1.errors }}
    </div>
    <div class="form-group">
        {{ form.new_password2|attr:"placeholder:Повторите ещё раз"|add_class:"form-control" }}

        {% if form.new_password2.errors.as_text %}
        <div class="alert alert-danger m-t">
            {{ form.new_password2.errors.as_text|slice:"1:" }}
        </div>
        {% endif %}
    </div>
    <button type="submit" class="block btn btn-primary full-width m-b-lg">
        Сменить пароль
    </button>
    <button type="reset" class="block btn btn-default full-width" onClick="history.go(-1);return true;">
        Отмена
    </button>
</form>