{% extends 'base.html' %}

{% block page_head %}
<link href="/static/css/plugins/iCheck/custom.css" rel="stylesheet">

<style>
    .s-row {
        background-color: transparent;
    }

    .show-hide-filters {
        color: #bbbbbb;
        margin-top: 10px;
        margin-bottom: 15px;
        border-style: none;
        background-color: transparent;
    }

    .inset-shadow {
    }
</style>
{% endblock %}

{% block page_title %}
Умный поиск
{% endblock %}

{% block page_content %}
<form method="POST">
	<div class="input-group m-b">
		<span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
		<input name="key_phase" type="text" placeholder="Ключевая фраза" class="form-control">
	</div>  
 
    <div class="form-group row"> 
		<label for="subscribers_policy" class="col-sm-2 col-form-label">Подписчики</label>
        <select id="subscribers_policy" name="subscribers_policy" class="form-control" style="width: 30% !important; display: inline-block;">
			<option value="more">больше</option>
			<option value="less">меньше</option>
		</select> 
		<input class="form-control" name="subscribers_value" value="0" type="number" style="width: 30% !important; display: inline-block;"> 
    </div> 
    
    <div class="form-group row"> 
		<label for="views_policy" class="col-sm-2 col-form-label">Просмотры</label>
        <select id="views_policy" name="views_policy" class="form-control" style="width: 30% !important; display: inline-block;">
			<option value="more">больше</option>
			<option value="less">меньше</option>
		</select> 
		<input class="form-control" name="views_value" value="0" type="number" style="width: 30% !important; display: inline-block;"> 
    </div> 
 
    <div class="form-group row {% if permission_level < 3 %} hide {% endif %}"> 
		<label for="likes_policy" class="col-sm-2 col-form-label">Лайки (от общего числа голосов)</label>
        <select id="likes_policy" name="likes_policy" class="form-control" style="width: 30% !important; display: inline-block;">
			<option value="more">больше</option>
			<option value="less">меньше</option>
		</select> 
		<input class="form-control" name="likes_value" value="0" type="number" style="width: 30% !important; display: inline-block;"> 
    </div> 

    <div class="form-group row {% if permission_level < 3 %} hide {% endif %}"> 
		<label for="duration_policy" class="col-sm-2 col-form-label">Длительность (минут)</label>
        <select id="duration_policy" name="duration_policy" class="form-control" style="width: 30% !important; display: inline-block;">
			<option value="more">больше</option>
			<option value="less">меньше</option>
		</select> 
		<input class="form-control" name="duration_value" value="0" type="number" style="width: 30% !important; display: inline-block;"> 
    </div> 

    <div class="form-group row {% if permission_level < 4 %} hide {% endif %}"> 
		<label for="comments_policy" class="col-form-label col-sm-2">Кол-во комментариев</label>
        <select id="comments_policy" name="comments_policy" class="form-control" style="width: 30% !important; display: inline-block;">
			<option value="more">больше</option>
			<option value="less">меньше</option>
		</select> 
		<input class="form-control" name="comments_value" value="0" type="number" style="width: 30% !important; display: inline-block;"> 
    </div> 

    <div class="form-group row {% if permission_level < 4 %} hide {% endif %}"> 
		<label for="published_in_policy" class="col-form-label col-sm-2">Давность публикации (дней)</label>
        <select id="published_in_policy" name="published_in_policy" class="form-control" style="width: 30% !important; display: inline-block;">
			<option value="more">больше</option>
			<option value="less">меньше</option>
		</select> 
		<input class="form-control" name="published_in_value" value="0" type="number" style="width: 30% !important; display: inline-block;"> 
    </div> 


	<div class="s-row {% if permission_level < 3 %} hide {% endif %}">
		<div class="col-md-6 p-xs">
			<div class="i-checks">
				<span class="">
					<div class="icheckbox_square-green {% if not permissions.exclude_approved_channels %}disabled{% endif %}" style="position: relative;">
						<input
							name="exclude_approved_channels"
							id="exclude_approved_channels"
							type="checkbox"
							value=""
							style="position: absolute; opacity: 0;"
						>
						<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
					</div>
					<i></i>
					Исключить подтвержденные каналы
				</span>
			</div>
		</div>
		<div class="col-md-6 p-xs">
			<div class="i-checks">
				<span class="">
					<div class="icheckbox_square-green {% if not permissions.cc_license %}disabled{% endif %}" style="position: relative;">
						<input
							name="cc_license"
							id="cc_license"
							type="checkbox"
							value=""
							style="position: absolute; opacity: 0;"
						>
						<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
					</div>
					<i></i>
					Лицензия Common Creative
				</span>
			</div>
		</div>

		<input type="submit" class="btn btn-primary" value="Поиск" onclick="showLoader();">
	</div>
</form>

{% if result.status %}
    <div class="page-title wrapped m-b-lg">
        <h2>
            Результаты
        </h2>
    </div>
    <div>
    {% include 'modules/components/videos_grid.html' %}
    </div>
{% endif %}
{% endblock %}

{% block scipts %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/js/plugins/iCheck/icheck.min.js"></script>

<script>
    $(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });
    });

    {% if not permissions.subscribers_more_then %}
        $("#subscribers_more_then").prop('disabled', true);
    {% endif %}
    {% if not permissions.views_count %}
        $("#views_count").prop('disabled', true);
    {% endif %}
    {% if not permissions.likes_rate %}
        $("#likes_rate").prop('disabled', true);
    {% endif %}
    {% if not permissions.duration %}
        $("#duration").prop('disabled', true);
    {% endif %}
    {% if not permissions.upload_earle_then %}
        $("#upload_earle_then").prop('disabled', true);
    {% endif %}
    {% if not permissions.comments_more_then %}
        $("#comments_more_then").prop('disabled', true);
    {% endif %}
</script>
{% endblock %}
