{% extends 'base.html' %}

{% block page_head %}
<link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block page_title %}
Получение лайков
{% endblock %}

{% block page_content %}

<div class="container-fluid">
    <form
        class="form-horizontal"
        method="post"
        action="module?feature=get_likes"
        enctype="multipart/form-data"
    >
        <div class="col-md-4">
            <label class="control-label">Cсылка на видео</label>
            <input type="text" name="video_url" class="form-control">
            {{ form.errors.video_url }}
        </div>

        <div class="col-md-4 {% if permission_level < 4 %}hide{% endif %}"> 
            <label class="control-label">Не позже чем за (дней)</label> 
            <input type="number" value="0" name="period" class="form-control">  
        </div> 

        <div class="col-md-4">
            <label class="control-label" style="color: transparent">
                .
            </label>
            <div>
                <input
                    type="submit" value="Получить лайки" class="btn btn-primary"
                >
            </div>
        </div>
    </form>
</div>

{% if result.status %}
    <div class="page-title wrapped">
        <h2>
            Результаты
        </h2>

        <table>
            {% for channel in result.details %}
			<tr> 
                <td><a href="http://youtube.com/channel/{{ channel }}">{{ channel }}<a></td> 
            </tr> 
            {% endfor %}
        </table>
    </div>
          

     
{% endif %}

{% endblock %}


{% block scipts %}
<script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>
{% endblock %}
