@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/Proxima Nova/Proxima Nova Regular.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaLight";
  src: url("../fonts/Proxima Nova/Proxima Nova Light.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/Proxima Nova/Proxima Nova Bold.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaRegularItalic";
  src: url("../fonts/Proxima Nova/Proxima Nova Regular Italic.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaLightItalic";
  src: url("../fonts/Proxima Nova/Proxima Nova Light Italic.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaBoldItalic";
  src: url("../fonts/Proxima Nova/Proxima Nova Bold Italic.otf") format("opentype"); }

@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/Century Gothic/Century Gothic.ttf");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url("../fonts/robotoslab/robotoslabthin.woff2") format("woff2"), url("../fonts/robotoslab/robotoslabthin.woff") format("woff"), url("../fonts/robotoslab/robotoslabthin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url("../fonts/robotoslab/robotoslablight.woff2") format("woff2"), url("../fonts/robotoslab/robotoslablight.woff") format("woff"), url("../fonts/robotoslab/robotoslablight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../fonts/robotoslab/robotoslabregular.woff2") format("woff2"), url("../fonts/robotoslab/robotoslabregular.woff") format("woff"), url("../fonts/robotoslab/robotoslabregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("../fonts/robotoslab/robotoslabbold.woff2") format("woff2"), url("../fonts/robotoslab/robotoslabbold.woff") format("woff"), url("../fonts/robotoslab/robotoslabbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/Roboto/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot");
  src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/Roboto/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot");
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/Roboto/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "ProximaNovaLight";
  src: url("../fonts/Proxima Nova/Proxima Nova Light.otf") format("opentype"); }

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/Proxima Nova/Proxima Nova Bold.otf") format("opentype"); }
