{% extends 'base.html' %}

{% block page_head %}
<link href="css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block page_title %}
ТОП3 Видео среди пользователей
{% endblock %}

{% block page_content %}

<div class="container-fluid">
    <form
        class="form-horizontal"
        method="post"
        enctype="multipart/form-data"
    >
        <div class="col-md-8">
            <label class="control-label">Выбрать файл базы каналов</label>
            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                <div class="form-control" data-trigger="fileinput">
                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                <span class="fileinput-filename" style="overflow: hidden"></span>
                </div>
                <span class="input-group-addon btn btn-default btn-file">
                    <span class="fileinput-new">Select file</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="links" id="links"/>
                </span>
                <a href="#" class="input-group-addon btn btn-default fileinput-exists"
                   data-dismiss="fileinput">
                    Remove
                </a>
            </div>
            {{ form.errors.links }}
        </div>
        <div class="col-md-4">
            <label class="control-label" style="color: transparent">
                .
            </label>
            <div>
                <input
                    type="submit" value="Найти видео" class="btn btn-primary"
                >
            </div>
        </div>
    </form>
</div>

{% if result.status %}
    <div class="page-title wrapped">
        <h2>
            Результаты
        </h2>
    </div>
    <div>
    {% include 'modules/components/videos_grid.html' %}
    </div>
{% endif %}

{% endblock %}


{% block scipts %}
<script src="js/plugins/jasny/jasny-bootstrap.min.js"></script>
{% endblock %}